

.nav-button {
    -fx-background-color: #19a7ce;
    -fx-text-fill: #dcdde1;
    -fx-background-radius: 50px;
    -fx-padding: 10px 20px;
    -fx-font-size: 10;
}
.nav-button-image{
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}


.nav-button:hover {
    -fx-background-color: #2F70AF;
}

.nav-button-active {
    -fx-text-fill: #273c75;
}

.nav-container {
    -fx-spacing: 10px ;
    -fx-background-color: #0a2647;
}

.table-view .column-header {
    -fx-background-color: #1B1F47;
    -fx-text-fill: white;
    -fx-padding: 8px;
    -fx-alignment: center-left;
    -fx-border-width: 0 0 2 0;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.button {
    -fx-background-color: #4C5D8B;
    -fx-text-fill: white;
}
.spec-button {
    -fx-background-color: linear-gradient(#304375, #1B1F47);
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.spec-button:hover{
    -fx-background-color: linear-gradient(#3e4abd, #142d72);
}
.spec-button:pressed{
    -fx-background-color: linear-gradient(#5264ae, #8a98ff);
}

.danger-button {
    -fx-background-color: #c02027;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.danger-button:hover{
    -fx-background-color: linear-gradient(#ED2B2A, #F15A59);
}
.danger-button:pressed{
    -fx-background-color: linear-gradient(#5264ae, #8a98ff);}


.info-button {
    -fx-background-color: #007ea7;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.info-button:hover{
    -fx-background-color: linear-gradient(#7db2c2, #75939d);
}
.info-button:pressed{
    -fx-background-color: linear-gradient(#4193ce, #3570ab);}
.encrypt #encryptButton,.decrypt #decryptButton{
    -fx-border-width: 3px;
    -fx-border-radius: 50;
    -fx-border-color: #e5f4f9;
}
.card {
    -fx-background-color: #90E0EF;
    -fx-background-radius: 10;
}
.textInput {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 7;
    -fx-border-color: #284c97;
    -fx-border-radius: 7;
    -fx-font-family: Arial;
    -fx-padding: 5;
}
.textInput:focused {
    -fx-border-color: #1E90FF;
    -fx-border-width: 2;
}

.date-picker-pers  {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 7;
    -fx-border-color: #284c97;
    -fx-border-radius: 7;
    -fx-font-family: Arial;
}
.date-picker-pers > .text-field {
    -fx-background-radius: 7;
}
.date-picker-pers > .arrow-button {
    -fx-background-radius: 7;
}
/*.spinner  {*/
/*    -fx-background-color: #FFFFFF;*/
/*    -fx-background-radius: 7;*/
/*    -fx-border-color: #284c97;*/
/*    -fx-border-radius: 7;*/
/*    -fx-font-family: Arial;*/
/*}*/
/*.spinner > .text-field {*/
/*    -fx-background-radius: 7;*/
/*}*/
/*.spinner .increment-arrow,*/
/*.spinner .decrement-arrow {*/
/*    -fx-background-color: #333333;*/
/*}*/
.card-header {
    -fx-background-color: #02315E;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-padding: 10px 20px;
}

.confirmation-dialog {
    -fx-background-color: white;
    -fx-border-color: #284c97;
    -fx-border-width: 2px;
}

.confirmation-dialog .header-panel {
    -fx-background-color: #284c97;
    -fx-text-fill: white;
}

.confirmation-dialog .content-panel {
    -fx-padding: 20px;
}

.profile-pic{
}
.profile-info{
    -fx-font-family: "MS Reference Specialty";
    -fx-font-size: 14;
}
.subject-desc {
    -fx-font-weight: bold;
}

.info-label{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #0353a4;
    -fx-background-radius: 4px;
    -fx-label-padding: 5px;
}
.choice-box {
    -fx-text-fill: black;
    -fx-background-color: #90E0EF;
}


